spring:
  datasource:
    url: jdbc:mysql://ip/bduser
    username: user
    password: pass
    
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
      naming:
        strategy: org.hibernate.cfg.ImprovedNamingStrategy
    properties:
      hibernate:
         dialect: org.hibernate.dialect.MySQL5Dialect
