<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />

<title>Todo Anuncios</title>

<meta name="viewport" content="width=device-width, initial-scale=1"/>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style type="text/css">
body {
	background-color: #5677fc;
	font-family: verdana;
}

.panel-heading {
	background-color: #337ab7 !important;
}

#contenedor {
	padding: 20px;
}

a {
	color: white;
}
</style>
</head>

<body>

	<div align="right">
		<a href="#" class="btn btn-primary" ><span class="glyphicon glyphicon-user" ></span> Identificate</a>
		<a href="#" class="btn btn-primary"><span class="glyphicon glyphicon-log-out"></span> Salir</a>
	</div>

	<div align="center">
		<header>
			<h2 class="form-signin-heading">Todo Anuncios</h2>
		</header>
	</div>

	<div class="row" id="contenedor">

		<div class="col-xs-3 col-sm-3 col-md-3">
			<div class="input-group input-group-lg">
				<span class="input-group-addon"></span>
			<input type="text" class="form-control" placeholder="titulo del articulo"/>
			</div>
			<div class="input-group input-group-lg">
				<span class="input-group-addon"></span>
			<input type="text" class="form-control" placeholder="numero de telefono"/>
			</div>
			<div class="input-group input-group-lg">
				<span class="input-group-addon"></span> <input type="text"
					class="form-control" placeholder="precio"/>
			</div>
			<div class="form-group">
				<textarea class="form-control" rows="5"
			id="comment" placeholder="Descripcion"></textarea>
			</div>
			<input id="input-b2" name="input-b2" type="file"
			class="file" data-show-preview="false"/>
			<button class="btn btn-lg btn-primary btn-block" type="submit">
				<span class="glyphicon" aria-hidden="true"></span> Crear anuncio
			</button>
		</div>

		<div class="col-xs-9 col-sm-9 col-md-9">
			<div class="panel-group" id="accordion">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion"
								href="#collapse1"> Titulo Del Anuncio</a>
						</h4>
					</div>
					<div id="collapse1" class="panel-collapse collapse in">
						<div class="panel-body">Contenido del anuncio con foto (probablemente)</div>
					</div>
				</div>
			</div>
		</div>

	</div>

</body>
</html>