.header-container {
    display: grid;
    grid-template-columns: auto auto 20px auto auto;
    background-color: purple;
    color: white;
    text-align: center;
    border-radius: 23px 23px 23px 23px;
}
.header-buttono {
    height: 150px;
    border-radius: 23px 23px 23px 23px;

}
.c:hover {
    color: red;
    background-color: yellow;
}
